body {
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    color: #000000;
    background-color: #94C0FF;
    
}

.jumbotron {
    background-color: #ffffff;
    height: 250px;
}

.display-4 {
    /* font-family: 'Luckiest Guy', cursive; */
    font-size: 5rem;
    color: #000000;
    text-align: center;
}

.lead {
    font-size: 2.1rem;
    color: #ffffff;
    line-height: 3rem;
    text-align: center;
}